<!DOCTYPE html>
<html>
<head>
    <title>CI/CD Mini Project</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>🚀 CI/CD Pipeline Demo</h1>
        <p class="subtitle">Automated using Jenkins & Docker</p>

        <div class="card">
            <p><strong>Status:</strong> Deployment Successful ✅</p>
            <p><strong>Container Host:</strong> {{ hostname }}</p>
            <p><strong>Last Deployed:</strong> {{ time }}</p>
        </div>

        <footer>
            <p>DevOps Mini Project</p>
        </footer>
    </div>
</body>
</html>
